# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, these owners will be requested for review when
# someone opens a pull request.

# Everything requires Platform team review by default
* @srinivasmusti @vtcao297 @shahmitu @hemanthsm @pchand20

# CI files
.github/ @adimoft @daveroge @shanedonohue @manilk1x @srinivasmusti @vtcao297 @shahmitu @hemanthsm @pchand20
